Source: libjtransforms-java
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Carnë Draug <carandraug+dev@gmail.com>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: default-jdk-doc,
 default-jdk-headless,
 javahelper,
 junit4,
 libcommons-math3-java,
 libcommons-math3-java-doc,
 libjlargearrays-java,
 libjlargearrays-java-doc,
 libmaven-compiler-plugin-java,
 libmaven-javadoc-plugin-java,
 libmaven-shade-plugin-java,
 maven-debian-helper (>= 2.1)
Standards-Version: 4.1.0
Vcs-Git: https://anonscm.debian.org/git/pkg-java/libjtransforms-java.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-java/libjtransforms-java.git
Homepage: https://sites.google.com/site/piotrwendykier/software/jtransforms

Package: libjtransforms-java
Architecture: all
Depends: ${misc:Depends}, ${java:Depends}, ${maven:Depends}
Recommends: ${java:Recommends}
Suggests: ${maven:OptionalDepends}, libjtransforms-java-doc
Description: Java library for multithreaded FFT up to 3 dimensions
 JTransforms is a multithreaded FFT library written in pure
 Java.  It features:
 .
  * 1, 2 and 3-dimensional transforms.
  * Arbitrary size of the data.
  * Support for large 1-dimensional arrays via JLargeArrays.
  * Single and double precision.
  * 1-dimensional and multi-dimensional variants of 2D and 3D transforms.
  * Automatic multithreading.

Package: libjtransforms-java-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${maven:DocDepends}
Suggests: ${maven:DocOptionalDepends}, libjtransforms-java
Description: documentation of libjtransforms-java
 JTransforms is a multithreaded FFT library written in pure
 Java.
 .
 This package contains the API documentation of libjtransforms-java.
